# Flask configuration
[flask]
# The host where the scaler service will be deployed
host = <host_ip>
# The port where the scaler service will be deployed
port = <port_number>

[actuator]
# The ips or names of the compute nodes, separated by comma
compute_nodes = 
# The keypair used to access the compute nodes
keypair_compute_nodes =
