# TODO: Document this
[flask]
host = 
port = 

[policy]
controller = 
actuator = 
metric_source = 

[scaling]
check_interval = 
trigger_down = 
trigger_up = 
min_cap = 
max_cap = 
actuation_size = 
metric_rounding =