virtualenv
six
werkzeug
ConfigParser
Flask
stevedore
httplib2
PrettyTable
paramiko
python-keystoneclient
python-novaclient
python-swiftclient
python-monascaclient==1.5.0
keystoneauth1
pytz
pytest
tzlocal
